.wrapper-dropdown .dropdown {
  /* Size & position */
  position: absolute;
  top: 44px;
  left: 0;
  right: 0;

  /* Styles */
  background: #fff;
  font-weight: normal;
  /* Overwrites previous font-weight: bold; */

  /* Hiding */
  opacity: 0;
  pointer-events: none;
  list-style-type: none;
  width: 380px;
}

.wrapper-dropdown ul {
  padding-inline-start: 0px;
}

.wrapper-dropdown .dropdown li a {
  display: block;
  text-decoration: none;
  color: #383838;
  padding: 10px 20px;
  text-align: left;
}

.wrapper-dropdown .dropdown li a:hover {
  color: #fff!important;
  background-color: #2d6cc0;
}

.wrapper-dropdown {
  display: inline;
  position: relative;
  width: auto;
}

/* Active state */
.wrapper-dropdown.active .dropdown {
  opacity: 1;
  pointer-events: auto;
  z-index: 1000;
}

.wrapper-dropdown.active:after {
  border-color: #2d6cc0 transparent;
  border-width: 6px 6px 0 6px;
  margin-top: -3px;
}

.wrapper-dropdown:after {
  content: "";
  width: 0;
  height: 0;
  position: absolute;
  right: 0px;
  top: 40%;
  margin-top: -6px;
  border-width: 6px 0 6px 6px;
  border-style: solid;
  border-color: transparent #000;
}
