<!-- Posts -->
<div id="wrap-posts" class="wrap-posts">
	<div class="container">
		<div class="row">
			<div class="col-md-8">

				<!-- Article -->
				<article class="post">

					<!-- Media -->
					<div class="post-media">
						<a href="single.html">
							<img src="images/posts/1.jpg" alt="Post">
						</a>
					</div>
					<!-- End Media -->

					<div class="post-body">


						<!-- Category -->
						<div class="cat">
							<a href="#">Lifestyle</a>
						</div>
						<!-- End Category -->

						<!-- Title -->
						<h2 class="title">
							<a href="single.html">Being A Star In Your Industry Is A Matter Of Travel</a>
						</h2>
						<!-- End Title -->

						<!-- The Excerpt -->
						<div class="the-excerpt">
							<p>
								The key to success is to keep your head above the water, never give up. You do know, you do know that they don't want you to have lunch. I'm keeping it real with you, so what you going do is have lunch. You do know, you do know that they don't want you to have lunch.
							</p>
						</div>
						<!-- End The Excerpt -->

						<!-- Read More -->
						<div class="read-more">
							<a href="single.html">Continue Reading</a>
						</div>
						<!-- End Read More -->
					</div>
				</article>
				<!-- End Article -->

				<!-- Article -->
				<article class="post">

					<!-- Media -->
					<div class="post-media">
						<a href="single.html">
							<img src="images/posts/2.jpg" alt="Post">
						</a>
					</div>
					<!-- End Media -->

					<div class="post-body">


						<!-- Category -->
						<div class="cat">
							<a href="#">Lifestyle</a>
						</div>
						<!-- End Category -->

						<!-- Title -->
						<h2 class="title">
							<a href="single.html">Being A Star In Your Industry Is A Matter Of Travel</a>
						</h2>
						<!-- End Title -->

						<!-- The Excerpt -->
						<div class="the-excerpt">
							<p>
								The key to success is to keep your head above the water, never give up. You do know, you do know that they don't want you to have lunch. I'm keeping it real with you, so what you going do is have lunch. You do know, you do know that they don't want you to have lunch.
							</p>
						</div>
						<!-- End The Excerpt -->

						<!-- Read More -->
						<div class="read-more">
							<a href="single.html">Continue Reading</a>
						</div>
						<!-- End Read More -->
					</div>
				</article>
				<!-- End Article -->

				<!-- Article -->
				<article class="post">

					<!-- Media -->
					<div class="post-media">
						<a href="single.html">
							<img src="images/posts/3.jpg" alt="Post">
						</a>
					</div>
					<!-- End Media -->

					<div class="post-body">


						<!-- Category -->
						<div class="cat">
							<a href="#">Lifestyle</a>
						</div>
						<!-- End Category -->

						<!-- Title -->
						<h2 class="title">
							<a href="single.html">Being A Star In Your Industry Is A Matter Of Travel</a>
						</h2>
						<!-- End Title -->

						<!-- The Excerpt -->
						<div class="the-excerpt">
							<p>
								The key to success is to keep your head above the water, never give up. You do know, you do know that they don't want you to have lunch. I'm keeping it real with you, so what you going do is have lunch. You do know, you do know that they don't want you to have lunch.
							</p>
						</div>
						<!-- End The Excerpt -->

						<!-- Read More -->
						<div class="read-more">
							<a href="single.html">Continue Reading</a>
						</div>
						<!-- End Read More -->
					</div>
				</article>
				<!-- End Article -->


				<!-- Pagination -->
				<div class="pagination-wrap clearfix">
					<a class="older-posts" href="#"><i class="fa fa-angle-left"></i></a><a class="#" href="#">1</a><a class="active" href="#">2</a><a href="#">3</a><a class="newer-posts" href="#"><i class="fa fa-angle-right"></i></a>
				</div>
				<!-- End Pagination -->
			</div>

			<!-- Sidebar -->
			<div class="col-md-4">
				<div class="sidebar">

					<!-- About Me -->
					<div class="widget kd-about">
						<h2 class="widget-title">About Me</h2>
						<div class="widget-inner text-center">
							<img src="images/widgets/avatar.jpg" alt="About Me">
							<h2><strong>Katy Perry</strong></h2>
							<div class="about-info">
								Meh synth Schlitz, tempor duis single-origin coffee ea next level ethnic fingerstache fanny pack nostrud. Photo booth anim 8-bit hella, PBR 3 wolf moon beard Helvetica.
							</div>
						</div>
					</div>
					<!-- End About Me -->

					<!-- Banner -->
					<div class="widget kd-banner">
						<h2 class="widget-title">Banner</h2>
						<div class="widget-inner">
							<img src="images/widgets/banner.jpg" alt="Banner">
						</div>
					</div>
					<!-- End Banner -->

					<!-- Follow Me -->
					<div class="widget kd-follow text-center">
						<h2 class="widget-title">Follow Me</h2>
						<div class="widget-inner post-share">
							<a href="#" title="Behance">
								<i class="fa fa-behance"></i>
							</a>
							<a href="#" title="Dribbble">
								<i class="fa fa-dribbble"></i>
							</a>
							<a href="#" title="Facebook">
								<i class="fa fa-facebook"></i>
							</a>
							<a href="#" title="Google Plus">
								<i class="fa fa-google-plus"></i>
							</a>
							<a href="#" title="Linkedin">
								<i class="fa fa-linkedin"></i>
							</a>
						</div>
					</div>
					<!-- End Follow Me -->

					<!-- Mailchimp -->
					<div class="widget kd-mailchimp">
						<h2 class="widget-title">Newsletter</h2>
						<div class="widget-inner text-center">
							<p>
								Sign up to receive updates and join our one subscriber that see what's new with my Konoha's Blog!
							</p>
							<form class="kd-subscribe">
								<div class="form-item form-remove">
									<input type="email" class="kd-subscribe-email" placeholder="Your email ..." value="" required />
								</div>
								<div class="form-submit">
									<input type="submit" class="kd-btn kd-subscribe" value="Subscribe">
								</div>
							</form>
							<p class="subscribe-status"></p>
						</div>
					</div>
					<!-- End Mailchimp -->

					<!-- Recent Posts -->
					<div class="widget kd-posts-list">
						<h2 class="widget-title">Latest Posts</h2>
						<div class="widget-inner">
							<div class="item clearfix">
								<div class="image" style="background-image: url(images/widgets/instagram/1.jpg); ">
									<img src="images/widgets/instagram/1.jpg" alt="The basis of friendship is sharing">
								</div>
								<div class="widget-item-content">
									<h2><a href="single.html">The basis of friendship is sharing</a></h2>
									<div class="post-details">
										<a href="#" class="post-date">May 29, 2017</a>
									</div>
								</div>
							</div>

							<div class="item clearfix">
								<div class="image" style="background-image: url(images/widgets/instagram/2.jpg); ">
									<img src="images/widgets/instagram/1.jpg" alt="The basis of friendship is sharing">
								</div>
								<div class="widget-item-content">
									<h2><a href="single.html">The basis of friendship is sharing</a></h2>
									<div class="post-details">
										<a href="#" class="post-date">May 29, 2017</a>
									</div>
								</div>
							</div>

							<div class="item clearfix">
								<div class="image" style="background-image: url(images/widgets/instagram/3.jpg); ">
									<img src="images/widgets/instagram/1.jpg" alt="The basis of friendship is sharing">
								</div>
								<div class="widget-item-content">
									<h2><a href="single.html">The basis of friendship is sharing</a></h2>
									<div class="post-details">
										<a href="#" class="post-date">May 29, 2017</a>
									</div>
								</div>
							</div>

							<div class="item clearfix">
								<div class="image" style="background-image: url(images/widgets/instagram/4.jpg); ">
									<img src="images/widgets/instagram/1.jpg" alt="The basis of friendship is sharing">
								</div>
								<div class="widget-item-content">
									<h2><a href="single.html">The basis of friendship is sharing</a></h2>
									<div class="post-details">
										<a href="#" class="post-date">May 29, 2017</a>
									</div>
								</div>
							</div>
						</div>
					</div>
					<!-- End Recent Posts -->

					<!-- Tag Cloud -->
					<div class="widget widget_tag_cloud">
						<h2 class="widget-title">Tag Cloud</h2>
						<div class="tagcloud">
							<a href="#">Coffee</a>
							<a href="#">Discorver</a>
							<a href="#">Drink</a>
							<a href="#">Food</a>
							<a href="#">Healthy</a>
							<a href="#">Hotel</a>
							<a href="#">Lifestyle</a>
							<a href="#">Location</a>
							<a href="#">Restaurant</a>
							<a href="#">Tip</a>
							<a href="#">Travel</a>
							<a href="#">Trip</a>
							<a href="#">WordPress</a>
						</div>
					</div>
					<!-- End Tag Cloud -->
				</div>
			</div>
			<!-- End Sidebar -->
		</div>
	</div>
</div>
<!-- End Posts -->