<div class="breadcrumb">
    <div class="container">
        <a href="#" ui-sref="home">Home</a>&nbsp;/&nbsp;Invest in Creativity &amp; Entrepreneurship
    </div>
</div>

<div class="container top-padding">
    <div class="row">

        <div class="col-md-7">
            <h2>Creativity &amp; Entrepreneurship</h2>
            <p class="big">
                The Creat'R Lab bridges the gap between art and engineering. Students from every department are encouraged to explore their
                innovative ideas at the library. The Creat'R Lab provides the space, tools, and opportunities to collaborate
                across academic disciplines.
            </p>
        </div>


        <div class="col-md-5">
            <img class="top-padding" src="images/promo-box/creativity-entrepreneurship.jpg" alt="Creativity entrepreneurship image" />
        </div>
    </div>

    <div class="row top-padding">
        <div class="col-md-12">
            <h4>INVEST IN CREATIVITY &amp; ENTREPRENEURSHIP</h4>
            <p class="lead">
                These funds are devoted to creativity and entrepreneurship at the UCR Library.</p>
            <hr>
        </div>
    </div>

    <div id="wrap-posts">
        <div class="row grid-layout">
            <div class="col-md-4">
                <article class="post">
                    <div class="post-media">
                        <a href="">
                            <img src="images/posts/creatr-lab.jpg" alt="Post">
                        </a>
                    </div>

                    <div class="post-body">
                        <h5>
                            <a href="">Creat'r Lab Fund</a>
                        </h5>

                        <div class="the-excerpt">
                            <p>
                                The key to success is to keep your head above the water, never give up. You do know, you do know that they don't want you
                                to have lunch.
                            </p>
                        </div>
                    </div>
                    <div class="give-footer">
                        <a href="" class="learn-more-button btn btn-block">Give now</a>
                    </div>
                </article>
            </div>

            <div class="col-md-4">
                <article class="post">
                    <div class="post-media">
                        <a href="">
                            <img src="images/posts/2.jpg" alt="Post">
                        </a>
                    </div>

                    <div class="post-body">
                        <h5>
                            <a href="">Digital Scholarship Fund</a>
                        </h5>

                        <div class="the-excerpt">
                            <p>
                                The key to success is to keep your head above the water, never give up. You do know, you do know that they don't want you
                                to have lunch.
                            </p>
                        </div>
                    </div>
                    <div class="give-footer">
                        <a href="" class="learn-more-button btn btn-block">Give now</a>
                    </div>
                </article>
            </div>

            <div class="col-md-4">
                <article class="post">
                    <div class="post-media">
                        <a href="">
                            <img src="images/posts/3.jpg" alt="Post">
                        </a>
                    </div>

                    <div class="post-body">
                        <h5>
                            <a href="">Exhibit Developer Endowed Fund</a>
                        </h5>

                        <div class="the-excerpt">
                            <p>
                                The key to success is to keep your head above the water, never give up. You do know, you do know that they don't want you
                                to have lunch.
                            </p>
                        </div>
                    </div>
                    <div class="give-footer">
                        <a href="" class="learn-more-button btn btn-block">Give now</a>
                    </div>
                </article>
            </div>

            <div class="col-md-4">
                <article class="post">
                    <div class="post-media">
                        <a href="">
                            <img src="images/posts/4.jpg" alt="Post">
                        </a>
                    </div>

                    <div class="post-body">
                        <h5>
                            <a href="">Edwin H. &amp; Wendy L. Allen Leisure Reading Collection Endowment Fund</a>
                        </h5>

                        <div class="the-excerpt">
                            <p>
                                The key to success is to keep your head above the water, never give up. You do know, you do know that they don't want you
                                to have lunch.
                            </p>
                        </div>
                    </div>
                    <div class="give-footer">
                        <a href="" class="learn-more-button btn btn-block">Give now</a>
                    </div>
                </article>
            </div>

            <div class="col-md-4">
                <article class="post">
                    <div class="post-media">
                        <a href="">
                            <img src="images/posts/5.jpg" alt="Post">
                        </a>
                    </div>

                    <div class="post-body">
                        <h5>
                            <a href="">Eaton Science Fiction &amp; Fantasy Collection Endowed Fund</a>
                        </h5>

                        <div class="the-excerpt">
                            <p>
                                The key to success is to keep your head above the water, never give up. You do know, you do know that they don't want you
                                to have lunch.
                            </p>
                        </div>
                    </div>
                    <div class="give-footer">
                        <a href="" class="learn-more-button btn btn-block">Give now</a>
                    </div>
                </article>
            </div>

            <div class="col-md-4">
                <article class="post">
                    <div class="post-media">
                        <a href="">
                            <img src="images/posts/6.jpg" alt="Post">
                        </a>
                    </div>

                    <div class="post-body">
                        <h5>
                            <a href="">Jay Kay and Doris Klein Science Fiction Endowed Fund</a>
                        </h5>

                        <div class="the-excerpt">
                            <p>
                                The key to success is to keep your head above the water, never give up. You do know, you do know that they don't want you
                                to have lunch.
                            </p>
                        </div>
                    </div>
                    <div class="give-footer">
                        <a href="" class="learn-more-button btn btn-block">Give now</a>
                    </div>
                </article>
            </div>

            <div class="col-md-4">
                <article class="post">
                    <div class="post-media">
                        <a href="">
                            <img src="images/posts/7.jpg" alt="Post">
                        </a>
                    </div>

                    <div class="post-body">
                        <h5>
                            <a href="">Exhibit Developer Endowed Fund</a>
                        </h5>

                        <div class="the-excerpt">
                            <p>
                                The key to success is to keep your head above the water, never give up. You do know, you do know that they don't want you
                                to have lunch.
                            </p>
                        </div>
                    </div>
                    <div class="give-footer">
                        <a href="" class="learn-more-button btn btn-block">Give now</a>
                    </div>
                </article>
            </div>


        </div>
    </div>
</div>