<div class="container top-padding">
    <div class="row">
        <div class="col-md-8">
            <h2>Creativity &amp; Entrepreneurship</h2>
            <p>
                The Creat'R Lab bridges the gap between art and engineering. Students from every department are encouraged to explore their
                innovative ideas at the library. The Creat'R Lab provides the space, tools, and opportunities to collaborate
                across academic disciplines.
            </p>
        </div>

        <div class="col-md-4">
            <img class="top-padding" src="images/creativity.jpg" alt="Creativity and Entrepreneurship image" />
        </div>
    </div>

    <div class="row top-padding">
        <div class="col-md-12">
            <strong>INVEST IN CREATIVITY &amp; INNOVATION</strong>
            <p>
                These funds are dedicated to creativity and entrepreneurship at UCR Library.</p>
        </div>
    </div>

    <div id="wrap-posts">
        <div class="row grid-layout">
            <div class="col-md-4">
                <article class="post">
                    <div class="post-media">
                        <a href="single.html">
                            <img src="images/posts/1.jpg" alt="Post">
                        </a>
                    </div>

                    <div class="post-body">
                        <h2 class="title">
                            <a href="single.html">Being A Star In Your Industry Is A Matter Of Travel</a>
                        </h2>

                        <div class="the-excerpt">
                            <p>
                                The key to success is to keep your head above the water, never give up. You do know, you do know that they don't want you
                                to have lunch.
                            </p>
                        </div>

                        <div class="read-more">
                            <a href="single.html">Continue Reading</a>
                        </div>
                    </div>
                </article>
            </div>

            <div class="col-md-4">
                <article class="post">
                    <div class="post-media">
                        <a href="single.html">
                            <img src="images/posts/1.jpg" alt="Post">
                        </a>
                    </div>

                    <div class="post-body">
                        <h2 class="title">
                            <a href="single.html">Being A Star In Your Industry Is A Matter Of Travel</a>
                        </h2>

                        <div class="the-excerpt">
                            <p>
                                The key to success is to keep your head above the water, never give up. You do know, you do know that they don't want you
                                to have lunch.
                            </p>
                        </div>

                        <div class="read-more">
                            <a href="single.html">Continue Reading</a>
                        </div>
                    </div>
                </article>
            </div>

            <div class="col-md-4">
                <article class="post">
                    <div class="post-media">
                        <a href="single.html">
                            <img src="images/posts/1.jpg" alt="Post">
                        </a>
                    </div>

                    <div class="post-body">
                        <h2 class="title">
                            <a href="single.html">Being A Star In Your Industry Is A Matter Of Travel</a>
                        </h2>

                        <div class="the-excerpt">
                            <p>
                                The key to success is to keep your head above the water, never give up. You do know, you do know that they don't want you
                                to have lunch.
                            </p>
                        </div>

                        <div class="read-more">
                            <a href="single.html">Continue Reading</a>
                        </div>
                    </div>
                </article>
            </div>


            <div class="col-md-4">
                    <article class="post">
                        <div class="post-media">
                            <a href="single.html">
                                <img src="images/posts/1.jpg" alt="Post">
                            </a>
                        </div>
        
                        <div class="post-body">
                            <h2 class="title">
                                <a href="single.html">Being A Star In Your Industry Is A Matter Of Travel</a>
                            </h2>
        
                            <div class="the-excerpt">
                                <p>
                                    The key to success is to keep your head above the water, never give up. You do know, you do know that they don't want you
                                    to have lunch.
                                </p>
                            </div>
        
                            <div class="read-more">
                                <a href="single.html">Continue Reading</a>
                            </div>
                        </div>
                    </article>
                </div>
        </div>
    </div>
</div>