<div class="breadcrumb">
    <div class="container">
        <a href="#" ui-sref="home">Home</a>&nbsp;/&nbsp;Invest in Creativity &amp; Entrepreneurship
    </div>
</div>

<div class="container top-padding">
    <div class="row">

        <div class="col-md-7">
            <h2>Creativity &amp; Entrepreneurship</h2>
            <p class="big">
                The UCR Library has the goal to partner with students and researchers in developing and producing new
                knowledge products and/or creative expressions. We also enable new forms of academic inquiry and
                discovery through creative and dynamic use and reuse of the digital assets of the university.
            </p>
        </div>


        <div class="col-md-5">
            <img class="top-padding" src="images/promo-box/creativity-entrepreneurship.jpg"
                alt="Creativity entrepreneurship image" />
        </div>
    </div>

    <div class="row top-padding">
        <div class="col-md-12">
            <h4>INVEST IN CREATIVITY &amp; ENTREPRENEURSHIP</h4>
            <p class="lead">
                These funds are devoted to creativity and entrepreneurship at the UCR Library.</p>
            <hr>
        </div>
    </div>

    <div class="row">
        <card title="Creat'r Lab Fund"
            text="The UCR Library's Creat'R Lab is an innovative makerspace in which students and faculty experiment with tools and technologies to spark curiosity, deepen knowledge and transform research. It is an inclusive, cross-disciplinary state-of-the-art technology incubator for discovery, innovation, and entrepreneurship. This fund will help support the technologies and consumables used in the Lab, including 3D printers and scanners, electronics prototyping kits, fabrication/sewing technology, etc., as well as Lab staffing, including student employees."
            image="images/posts/creatr-lab.jpg" alt="Give to Creat'r Lab fund" link="https://myadv.ucr.edu/LIB/200851">
        </card>

        <card title="Digital Scholarship Fund"
            text="Today's students need to have the skills to use, interpret, create, and disseminate information in various digital media. This fund supports the Library's efforts to acquire the equipment, tools, and software needed to enhance the digital scholarship capabilities of UCR students and faculty. Your gift will help us continue to build our ability to prepare our students for success around the world."
            image="images/posts/digital-scholarship.jpg" alt="Give to Digital Scholarship fund" link="#"></card>

        <card title="Exhibit Developer Fund"
            text="The UCR Library makes its impressive collections available to the public through regularly rotating exhibitions. Exhibits provide dynamic interfaces that connect intellectual and artistic content to users in engaging and meaningful ways, enhancing critical thinking while showcasing our cultural heritage materials.<br><br>
            Currently all exhibition activities, including curation and creation, are accomplished by UCR Library staff in Special Collections in addition to their other duties. An Exhibition Developer would enable us to move into a broader range of exhibition activities, including expanding our reach into digital exhibitions. Contributions to this meaningful fund will enable the Library to make the exhibit developer a full time position. 
            "
            image="images/posts/exhibit-developer-endowed.jpg" alt="Give to Exhibit Developer fund"
            link="https://myadv.ucr.edu/LIB/200881"></card>
    </div>
</div>