<div class="breadcrumb">
    <div class="container">
        <a href="#" ui-sref="home">Home</a>&nbsp;/&nbsp;Invest in Cultural Heritage
    </div>
</div>

<div class="container top-padding">
    <div class="row">

        <div class="col-md-7">
            <h2>Cultural Heritage</h2>
            <p class="big">
                The UCR Library is interested in identifying, preserving, interpreting, and sharing the rich cultural
                legacies of diverse communities in Riverside and San Bernardino Counties, a geographical region also
                known as Inland Southern California. We have significant collections in local inland history, history of
                the local citrus and other agricultural industries, and the Rupert Costo Library of the American Indian.
                We are also interested in preserving underrepresented communities and cultures.
            </p>
        </div>


        <div class="col-md-5">
            <img class="top-padding" src="images/promo-box/cultural-heritage.jpg" alt="Cultural heritage image" />
        </div>
    </div>

    <div class="row top-padding">
        <div class="col-md-12">
            <h4>INVEST IN CULTURAL HERITAGE</h4>
            <p class="lead">
                These funds are devoted to cultural heritage at the UCR Library.</p>
            <hr>
        </div>
    </div>

    <div class="row">
        <card title="Library Special Collections Fund"
            text="UC Riverside's Special Collections & University Archives houses archives and manuscript collections, photographs, maps, books, and other rare or unique research materials that document a wide range of subject areas such as medieval manuscripts, artists' books, and the personal papers of important contemporary authors. Your contribution helps us to grow already significant collections!"
            image="images/posts/library-special-collections.jpg" alt="Give to Special Collections"
            link="https://myadv.ucr.edu/LIB/200360"></card>

        <card title="Costo Endowment for the Library of the American Indian"
            text="Rupert and Jeannette Henry Costo were Native American scholars, activists, and founders of the American Indian Historical Society. Their collection, housed in the UCR Library, includes thousands of books, documents, baskets, ceramic artifacts, and audio recordings documenting Native American history. The Costo Endowment for the Library of the American Indian provides ongoing funding to acquire new content for the collection, and your support is greatly appreciated."
            image="images/posts/american-indian-library.jpg" alt="Give to Library of the American Indian"
            link="https://myadv.ucr.edu/LIB/600035"></card>

        <card title="Costo Fund for Curator of American Indian Collections"
            text="The Costo Fund for the Curator of American Indian Collections will enable the UCR Library to hire a dedicated librarian with the cultural and subject expertise to shepherd the continued growth of the renowned Costo Library of the American Indian, a key component of the UCR Library's Special Collections and University Archives program. Your gift will help us create the endowment to fund this vital position.<br><br>
            A companion endowment, the Costo Endowment for the Library of the American Indian, generates the funds needed to acquire content for the collection. Together, these funds will help ensure UCR's place as a key center for research about and by Native Americans."
            image="images/posts/american-indian-curator.jpg" alt="Give to Curator of the American Indian" link="#" pending="true">
        </card>

        <card title="Steven Lee Mandeville-Gamble Book Fund for Queer Literature"
            text="The Mandeville-Gamble Book Fund for Queer Literature was established by the University Librarian to support the acquisition and management of books, manuscripts, personal papers, photographs, journals, magazines, cartographic materials, databases, electronic resources or other literary resources to support the growing research on the UCR campus of literature documenting the gay, lesbian, bisexual, or queer-identified experience in particular as well as providing support to acquire teaching and research materials in support of the broader gender and sexuality studies in relation to the LGBT experience.<br><br>
            This fund is growing towards a full endowment. Your gift will help us reach this goal sooner and ensure that the fund is able to support the teaching and research on this campus in this area."
            image="images/posts/steve-mandeville-gamble-endowed-fund.jpg" alt="Give to Mandeville-Gamble fund"
            link="https://myadv.ucr.edu/LIB/6I0050"></card>

        <card title="Sadakichi Hartmann Papers Fund"
            text="The papers of Sadakichi Hartmann (1867-1944) document the life, work, and influence of this 20th-century essayist, poet, dramatist, journalist,film actor, and critic. Hartmann was an important figure in the modernist and symbolist movements, and his diverse social circles included Walt Whitman, Ezra Pound, and Alfred Steiglitz. Your gift to this fund supports the ongoing care and preservation of Hartmann's published and unpublished works, correspondence, photographs and art, and diaries."
            image="images/posts/sadakichi-hartmann-papers.jpg" alt="Give to Sadakichi Hartmann Papers fund"
            link="https://myadv.ucr.edu/LIB/200853"></card>

        <card title="Inland Empire Memories Initiative Endowed Fund"
            text="Led by the UCR Libraries, Inland Empire Memories is an alliance of libraries, archives, and cultural heritage organizations dedicated to identifying, preserving, interpreting, and sharing the rich cultural legacies of diverse communities in Riverside and San Bernardino Counties, a geographical region also known as Inland Southern California.<br><br>
            The initiative seeks to increase access to the primary records of individuals and organizations whose work fundamentally shaped the lived experiences of the people in Inland Southern California. Your support will help us grow and preserve these vital collections in the UCR Library."
            image="images/posts/inland-empire-memories.jpg" alt="Give to Inland Empire Memories Endowment"
            link="https://myadv.ucr.edu/LIB/6I0003"></card>
    </div>
</div>