<div class="breadcrumb">
    <div class="container">
        <a href="#" ui-sref="home">Home</a>&nbsp;/&nbsp;Invest in Cultural Heritage
    </div>
</div>

<div class="container top-padding">
    <div class="row">

        <div class="col-md-7">
            <h2>Cultural Heritage</h2>
            <p class="big">
                The UCR Library is interested in identifying, preserving, interpreting, and sharing the rich cultural legacies of diverse communities in Riverside and San Bernardino Counties, a geographical region also known as Inland Southern California. We have significant collections in local inland history, history of the local citrus and other agricultural industries, and the Rupert Costo Library of the American Indian. We are also interested in preserving underrepresented communities and cultures.
            </p>
        </div>


        <div class="col-md-5">
            <img class="top-padding" src="images/promo-box/cultural-heritage.jpg" alt="Cultural heritage image" />
        </div>
    </div>

    <div class="row top-padding">
        <div class="col-md-12">
            <h4>INVEST IN CULTURAL HERITAGE</h4>
            <p class="lead">
                These funds are devoted to cultural heritage at the UCR Library.</p>
            <hr>
        </div>
    </div>

    <div class="row">
        <card title="Library Special Collections Fund"
            text="This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer."
            image="images/posts/library-special-collections.jpg" alt="Give to Special Collections"
            link="https://myadv.ucr.edu/LIB/200360"></card>

        <card title="Costo Endowment for the Library of the American Indian"
            text="This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer."
            image="images/posts/american-indian-library.jpg" alt="Give to Library of the American Indian"
            link="https://myadv.ucr.edu/LIB/600035"></card>

        <card title="Costo Endowment for Curator of American Indian Collections"
            text="This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer."
            image="images/posts/american-indian-curator.jpg" alt="Give to Curator of the American Indian" link="#">
        </card>

        <card title="Steven L. Mandeville-Gamble Endowed Fund for Queer Literature"
            text="This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer."
            image="images/posts/steve-mandeville-gamble-endowed-fund.jpg" alt="Give to Mandeville-Gamble fund"
            link="https://myadv.ucr.edu/LIB/6I0050"></card>

        <card title="Sadakichi Hartmann Papers Fund"
            text="This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer."
            image="images/posts/sadakichi-hartmann-papers.jpg" alt="Give to Sadakichi Hartmann Papers fund"
            link="https://myadv.ucr.edu/LIB/200853"></card>

        <card title="Inland Empire Memories Endowment"
            text="This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer."
            image="images/posts/inland-empire-memories.jpg" alt="Give to Inland Empire Memories Endowment"
            link="https://myadv.ucr.edu/LIB/6I00033"></card>
    </div>
</div>