<!-- Banner Image -->
<div class="header-top">
	<!-- Logo -->
	<div class="logo-wrap">
		<h1 class="logo-text">
			<a href="index.html">Support the UCR Library</a>
		</h1>
		<p class="tagline">
			It can transform lives beyond our walls
		</p>
		<p>
			Students and faculty from every part of campus rely on the library for their success. Your support makes this possible.
		</p>
	</div>
	<!-- End Logo -->
</div>

<!-- Promo Box-->
<div id="promos-box" class="promos-box">
	<div class="row">
		<div class="col-md-4 col-xs-12">
			<div class="promo-box image" style="background-image: url(images/promo-box/1.jpg); ">
				<div class="promo-inner">
					<h2><a href="#">Instagram</a></h2>
				</div>
			</div>
		</div>
		<div class="col-md-4 col-xs-12">
			<div class="promo-box image" style="background-image: url(images/promo-box/2.jpg); ">
				<div class="promo-inner">
					<h2><a href="#">My Shop</a></h2>
				</div>
			</div>
		</div>
		<div class="col-md-4 col-xs-12">
			<div class="promo-box image" style="background-image: url(images/promo-box/3.jpg); ">
				<div class="promo-inner">
					<h2><a href="#">About Me</a></h2>
				</div>
			</div>
		</div>
	</div>

	<div class="row top-buffer">
		<div class="col-md-4 col-xs-12">
			<div class="promo-box image" style="background-image: url(images/promo-box/1.jpg); ">
				<div class="promo-inner">
					<h2><a href="#">Instagram</a></h2>
				</div>
			</div>
		</div>
		<div class="col-md-4 col-xs-12">
			<div class="promo-box image" style="background-image: url(images/promo-box/2.jpg); ">
				<div class="promo-inner">
					<h2><a href="#">My Shop</a></h2>
				</div>
			</div>
		</div>
		<div class="col-md-4 col-xs-12">
			<div class="promo-box image" style="background-image: url(images/promo-box/3.jpg); ">
				<div class="promo-inner">
					<h2><a href="#">About Me</a></h2>
				</div>
			</div>
		</div>
	</div>

</div>
<!-- -->

<script>
	$(document).ready(function () {
		var $featuredSlider = $('.featured-slider'),
			options = $.extend({
				items: 3,
				nav: true,
				navText: ['<i class="fa fa-angle-left"></i>', '<i class="fa fa-angle-right"></i>'],
				responsive: {
					0: {
						items: 1
					},
					768: {
						items: 2
					},
					992: {
						items: 3
					}
				}
			}, $featuredSlider.data());
		$featuredSlider.owlCarousel(options);
	});
</script>