<!-- Banner Image -->
<div class="header-top">
	<!-- Logo -->
	<div class="logo-wrap">
		<h1 class="logo-text">
			<a href="index.html">Support the UCR Library</a>
		</h1>
		<p class="tagline">
			Your gift can transform lives beyond our walls
		</p>
		<p class="description">
			Students and faculty from every part of campus rely on the library for their success. Your support makes this possible.
		</p>
	</div>
	<!-- End Logo -->
</div>

<!-- Promo Box-->
<div id="promos-box" class="promos-box">
	<div class="row">
		<div class="col-md-4 col-xs-12">
			<flip flipped="flip1" ng-mouseenter="flip1 = !flip1" ng-mouseleave="flip1 = !flip1" ng-click="go('/student-success')">
				<card-flip-front>
					<div class="promo-box image" style="background-image: url(images/promo-box/1.jpg); ">
						<div class="promo-inner">
							<h2>Student Success</h2>
						</div>
					</div>
				</card-flip-front>
				<card-flip-back>
					<div class="promo-box image" style="background-image: url(images/promo-box/2.jpg); ">
						<div class="promo-inner">
							<h2>This is the back</h2>
						</div>
					</div>
				</card-flip-back>
			</flip>
		</div>
		<div class="col-md-4 col-xs-12">
			<flip flipped="flip2" ng-mouseenter="flip2 = !flip2" ng-mouseleave="flip2 = !flip2" ng-click="go('/research-excellence')">
				<card-flip-front>
					<div class="promo-box image" style="background-image: url(images/promo-box/1.jpg); ">
						<div class="promo-inner">
							<h2>Research Excellence</h2>
						</div>
					</div>
				</card-flip-front>
				<card-flip-back>
					<div class="promo-box image" style="background-image: url(images/promo-box/2.jpg); ">
						<div class="promo-inner">
							<h2>This is the back</h2>
						</div>
					</div>
				</card-flip-back>
			</flip>
		</div>
		<div class="col-md-4 col-xs-12">
			<flip flipped="flip3" ng-mouseenter="flip3 = !flip3" ng-mouseleave="flip3 = !flip3" ng-click="go('/creativity-entrepreneurship')">
				<card-flip-front>
					<div class="promo-box image" style="background-image: url(images/promo-box/1.jpg);">
						<div class="promo-inner">
							<h2>Creativity &amp; Entrepreneurship</h2>
						</div>
					</div>
				</card-flip-front>
				<card-flip-back>
					<div class="promo-box image" style="background-image: url(images/promo-box/2.jpg); ">
						<div class="promo-inner">
							<h2>This is the back</h2>
						</div>
					</div>
				</card-flip-back>
			</flip>
		</div>

		<div class="col-md-4 col-xs-12">
			<flip flipped="flip4" ng-mouseenter="flip4 = !flip4" ng-mouseleave="flip4 = !flip4" ng-click="go('/inspiring-spaces')">
				<card-flip-front>
					<div class="promo-box image" style="background-image: url(images/promo-box/1.jpg); ">
						<div class="promo-inner">
							<h2>Inspiring Spaces</h2>
						</div>
					</div>
				</card-flip-front>
				<card-flip-back>
					<div class="promo-box image" style="background-image: url(images/promo-box/2.jpg); ">
						<div class="promo-inner">
							<h2>This is the back</h2>
						</div>
					</div>
				</card-flip-back>
			</flip>
		</div>
		<div class="col-md-4 col-xs-12">
			<flip flipped="flip5" ng-mouseenter="flip5 = !flip5" ng-mouseleave="flip5 = !flip5" ng-click="go('/imagination')">
				<card-flip-front>
					<div class="promo-box image" style="background-image: url(images/promo-box/1.jpg); ">
						<div class="promo-inner">
							<h2>Imagination</h2>
						</div>
					</div>
				</card-flip-front>
				<card-flip-back>
					<div class="promo-box image" style="background-image: url(images/promo-box/2.jpg); ">
						<div class="promo-inner">
							<h2>This is the back</h2>
						</div>
					</div>
				</card-flip-back>
			</flip>
		</div>
		<div class="col-md-4 col-xs-12">
			<flip flipped="flip6" ng-mouseenter="flip6 = !flip6" ng-mouseleave="flip6 = !flip6" ng-click="go('/cultural-heritage')">
				<card-flip-front>
					<div class="promo-box image" style="background-image: url(images/promo-box/1.jpg); ">
						<div class="promo-inner">
							<h2>Cultural Heritage</h2>
						</div>
					</div>
				</card-flip-front>
				<card-flip-back>
					<div class="promo-box image" style="background-image: url(images/promo-box/2.jpg); ">
						<div class="promo-inner">
							<h2>This is the back</h2>
						</div>
					</div>
				</card-flip-back>
			</flip>
		</div>
	</div>

</div>
<!-- -->