<div class="breadcrumb">
    <div class="container">
        <a href="#" ui-sref="home">Home</a>&nbsp;/&nbsp;Invest in Imagination
    </div>
</div>

<div class="container top-padding">
    <div class="row">

        <div class="col-md-7">
            <h2>Invest in Imagination</h2>
            <p class="big">
                The UCR Library is the place students turn to when it's time to study for finals and to collaborate with
                like-minded colleagues
                as they work toward their dreams. We provide the space, the resources, and the guidance that our
                students
                need to succeed.
            </p>
        </div>


        <div class="col-md-5">
            <img class="top-padding" src="images/promo-box/imagination.jpg" alt="Imagination image" />
        </div>
    </div>

    <div class="row top-padding">
        <div class="col-md-12">
            <h4>INVEST IN IMAGINATION</h4>
            <p class="lead">
                These funds are devoted to student success at the UCR Library.</p>
            <hr>
        </div>
    </div>

    <div class="row">
        <card title="Eaton Science Fiction and Fantasy Collection Endowed Fund"
            text="This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer."
            image="images/posts/eaton-endowed.jpg" alt="Give to Eaton fund" link="https://myadv.ucr.edu/LIB/200226">
        </card>

        <card title="Jay Kay and Doris Klein Science Fiction Endowed Fund"
            text="This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer."
            image="images/posts/science-fiction-endowed.jpg" alt="Give to Kay and Klein fund" link="#"></card>

        <card title="Creat'R Lab Fund"
            text="This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer."
            image="images/posts/creatr-lab.jpg" alt="Give to Creat'r Lab fund" link="https://myadv.ucr.edu/LIB/200851">
        </card>
    </div>
</div>