<div class="breadcrumb">
    <div class="container">
        <a href="#" ui-sref="home">Home</a>&nbsp;/&nbsp;Invest in Imagination
    </div>
</div>

<div class="container top-padding">
    <div class="row">

        <div class="col-md-7">
            <h2>Invest in Imagination</h2>
            <p class="big">
                The UCR Library empowers positive change by bringing together diverse individuals, communities and information to advance research, education, and innovation. In particular, our special collections of science fiction, fantasy, horror, utopian literature and related genres (including fan literature and anime) have become a major resource for research and inspiration by UCR scholars as well as those around the world.
            </p>
        </div>


        <div class="col-md-5">
            <img class="top-padding" src="images/promo-box/imagination.jpg" alt="Imagination image" />
        </div>
    </div>

    <div class="row top-padding">
        <div class="col-md-12">
            <h4>INVEST IN IMAGINATION</h4>
            <p class="lead">
                These funds are devoted to student success at the UCR Library.</p>
            <hr>
        </div>
    </div>

    <div class="row">
        <card title="Eaton Science Fiction and Fantasy Collection Fund"
            text="The renowned Eaton Science Fiction Collection is the world's largest and most comprehensive publicly accessible collection of science fiction, fantasy, horror, and other forms of speculative fiction. The collection supports UCR faculty and students from engineering, medicine, and the humanities—especially the Speculative Fiction and Cultures of Technology program—as well as researchers from around the world.<br><br>
            Your gift to this endowed fund allows the Library to continue building this collection in support of scholarship at UCR, across the United States, and worldwide."
            image="images/posts/eaton-endowed.jpg" alt="Give to Eaton fund" link="https://myadv.ucr.edu/LIB/200226">
        </card>

        <card title="Jay K. Klein Endowed - Science Fiction and Fantasy Collection"
            text="The Jay K. Klein Endowed Science Fiction and Fantasy Collection fund underwrites the university's costs of providing access to the rich holdings of the Eaton Science Fiction Collection in general, and the extensive Jay K. Klein Photographs and Papers on Science Fiction Fandom in particular. Due to the generous endowment established by Jay K. and Doris Klein, the university has been able to create a full-time, dedicated librarian position to continue growing, managing, and providing access to the rich science fiction and fantasy collections at UCR.<br><br>
            Additional funds will allow the university to hire support staff and student workers to further this effort as well as to acquire additional materials for the science fiction and fantasy collections."
            image="images/posts/science-fiction-endowed.jpg" alt="Give to Kay and Klein fund" link="https://myadv.ucr.edu/LIB/600235"></card>

        <card title="Creat'R Lab Fund"
            text="The UCR Library's Creat'R Lab is an innovative makerspace in which students and faculty experiment with tools and technologies to spark curiosity, deepen knowledge and transform research. It is an inclusive, cross-disciplinary state-of-the-art technology incubator for discovery, innovation, and entrepreneurship. This fund will help support the technologies and consumables used in the Lab, including 3D printers and scanners, electronics prototyping kits, fabrication/sewing technology, etc., as well as Lab staffing, including student employees."
            image="images/posts/creatr-lab.jpg" alt="Give to Creat'r Lab fund" link="https://myadv.ucr.edu/LIB/200851">
        </card>
    </div>
</div>