<div class="breadcrumb">
    <div class="container">
        <a href="#" ui-sref="home">Home</a>&nbsp;/&nbsp;Invest in Inspiring Spaces
    </div>
</div>

<div class="container top-padding">
    <div class="row">

        <div class="col-md-7">
            <h2>Inspiring Spaces</h2>
            <p class="big">
                The UCR Library is the place students turn to when it's time to study for finals and to collaborate with like-minded colleagues
                as they work toward their dreams. We provide the space, the resources, and the guidance that our students
                need to succeed.
            </p>
        </div>


        <div class="col-md-5">
            <img class="top-padding" src="images/promo-box/inspiring-spaces.jpg" alt="Inspiring spaces image" />
        </div>
    </div>

    <div class="row top-padding">
        <div class="col-md-12">
            <h4>INVEST IN INSPIRING SPACES</h4>
            <p class="lead">
                These funds are devoted to inspiring spaces at the UCR Library.</p>
            <hr>
        </div>
    </div>

    <div id="wrap-posts">
        <div class="row grid-layout">
            <div class="col-md-4">
                <article class="post">
                    <div class="post-media">
                        <a href="">
                            <img src="images/posts/1.jpg" alt="Post">
                        </a>
                    </div>

                    <div class="post-body">
                        <h5>
                            <a href="">Creat'r Lab Fund</a>
                        </h5>

                        <div class="the-excerpt">
                            <p>
                                The key to success is to keep your head above the water, never give up. You do know, you do know that they don't want you
                                to have lunch.
                            </p>
                        </div>
                    </div>
                    <div class="give-footer">
                        <a href="" class="learn-more-button btn btn-block">Give now</a>
                    </div>
                </article>
            </div>

            <div class="col-md-4">
                <article class="post">
                    <div class="post-media">
                        <a href="">
                            <img src="images/posts/2.jpg" alt="Post">
                        </a>
                    </div>

                    <div class="post-body">
                        <h5>
                            <a href="">Student Internship Endowed Fund</a>
                        </h5>

                        <div class="the-excerpt">
                            <p>
                                The key to success is to keep your head above the water, never give up. You do know, you do know that they don't want you
                                to have lunch.
                            </p>
                        </div>
                    </div>
                    <div class="give-footer">
                        <a href="" class="learn-more-button btn btn-block">Give now</a>
                    </div>
                </article>
            </div>

            <div class="col-md-4">
                <article class="post">
                    <div class="post-media">
                        <a href="">
                            <img src="images/posts/3.jpg" alt="Post">
                        </a>
                    </div>

                    <div class="post-body">
                        <h5>
                            <a href="">Information Literacy Endowed Fund</a>
                        </h5>

                        <div class="the-excerpt">
                            <p>
                                The key to success is to keep your head above the water, never give up. You do know, you do know that they don't want you
                                to have lunch.
                            </p>
                        </div>
                    </div>
                    <div class="give-footer">
                        <a href="" class="learn-more-button btn btn-block">Give now</a>
                    </div>
                </article>
            </div>

        </div>
    </div>
</div>