<div class="breadcrumb">
    <div class="container">
        <a href="#" ui-sref="home">Home</a>&nbsp;/&nbsp;Invest in Inspiring Spaces
    </div>
</div>

<div class="container top-padding">
    <div class="row">

        <div class="col-md-7">
            <h2>Inspiring Spaces</h2>
            <p class="big">
                The UCR Library is the place students turn to when it's time to study for finals and to collaborate with
                like-minded colleagues
                as they work toward their dreams. We provide the space, the resources, and the guidance that our
                students
                need to succeed.
            </p>
        </div>


        <div class="col-md-5">
            <img class="top-padding" src="images/promo-box/inspiring-spaces.jpg" alt="Inspiring spaces image" />
        </div>
    </div>

    <div class="row top-padding">
        <div class="col-md-12">
            <h4>INVEST IN INSPIRING SPACES</h4>
            <p class="lead">
                These funds are devoted to inspiring spaces at the UCR Library.</p>
            <hr>
        </div>
    </div>

    <div class="row">
        <card title="Exhibit Developer Endowed Fund"
            text="This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer."
            image="images/posts/exhibit-developer-endowed.jpg" alt="Give to Exhibit Developer fund"
            link="https://myadv.ucr.edu/LIB/2008816">
        </card>

        <card title="Library Development Fund"
            text="This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer."
            image="images/posts/library-development-2.jpg" alt="Give to Library Development fund"
            link="https://myadv.ucr.edu/LIB/200362"></card>

        <card title="Creat'R Lab Fund"
            text="This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer."
            image="images/posts/creatr-lab.jpg" alt="Give to Creat'r Lab fund" link="https://myadv.ucr.edu/LIB/200851">
        </card>
    </div>
</div>