<div class="breadcrumb">
    <div class="container">
        <a href="#" ui-sref="home">Home</a>&nbsp;/&nbsp;Invest in Research Excellence
    </div>
</div>

<div class="container top-padding">
    <div class="row">

        <div class="col-md-7">
            <h2>Research Excellence</h2>
            <p class="big">
                The UCR Library has the goal to accelerate UCR’s diverse research and teaching programs through dynamic curation of information resources. We help support research grant generation, and help preserve and disseminate unique research findings.
            </p>
        </div>


        <div class="col-md-5">
            <img class="top-padding" src="images/promo-box/research-excellence.jpg" alt="Research excellence image" />
        </div>
    </div>

    <div class="row top-padding">
        <div class="col-md-12">
            <h4>INVEST IN RESEARCH EXCELLENCE</h4>
            <p class="lead">
                These funds are devoted to research excellence at the UCR Library.</p>
            <hr>
        </div>
    </div>

    <div class="row">
        <card title="Information Literacy Fund"
            text="In a world of rapid technological change and proliferating information resources, the UCR Library is committed to empower students to develop the skills, literacies, experiences, and perceptions necessary to be globally competitive. Gifts to this fund enable the UCR Library to design and implement effective learner-center pedagogy and technologies."
            image="images/posts/information-literacy.jpg" alt="Give to Information Literacy fund" link="#"></card>

        <card title="UCR Libraries Book Fund"
            text="Your gift to this fund will provide for ongoing additions to UC Riverside's collection of books and other research materials, assuring that our collections continue to be current and relevant for all stakeholders—students, faculty, the Riverside and UC communities, and the world."
            image="images/posts/library-book.jpg" alt="Give to Library Book fund"
            link="https://myadv.ucr.edu/LIB/200358"></card>

        <card title="Raymond L. Orbach Library Endowed Fund to Support the Sciences and Engineering"
            text="Dr. Raymond L. Orbach served as Chancellor of UCR from 1992 to 2002, and is both Chancellor Emeritus and Distinguished Professor of Physics Emeritus of UCR. He and Mrs. Orbach established the Raymond L. Orbach Library Endowed Fund to Support the Sciences in 2009 to assure a continuing breadth of scientific and engineering publications and texts in the Orbach Library. Your gift will support the ongoing acquisition of important works for the Orbach Library."
            image="images/posts/orbach-library.jpg" alt="Give to Orbach fund" link="https://myadv.ucr.edu/LIB/600239">
        </card>
    </div>
</div>