<div class="container top-padding">
    <div class="row">
        <div class="col-md-7">
            <h2>Student Success</h2>
            <p>
                The UCR Library is the second-largest student employer on the UC Riverside campus. We are also the place students turn to
                when it's time to study for finals and to collaborate with like-minded colleagues as they work toward their
                dreams. We provide the space, the resources, and the guidance that our students need to succeed.
            </p>
        </div>

        <div class="col-md-5">
            <img class="top-padding" src="images/creativity.jpg" alt="Creativity and Entrepreneurship image" />
        </div>
    </div>

    <div class="row top-padding">
        <div class="col-md-12">
            <h5>INVEST IN STUDENT SUCCESS</h5>
            <p>
                These funds are devoted to student success at the UCR Library.</p>
        </div>
    </div>

    <div id="wrap-posts">
        <div class="row grid-layout">
            <div class="col-md-4">
                <article class="post">
                    <div class="post-media">
                        <a href="single.html">
                            <img src="images/posts/1.jpg" alt="Post">
                        </a>
                    </div>

                    <div class="post-body">
                        <h2 class="title">
                            <a href="single.html">Being A Star In Your Industry Is A Matter Of Travel</a>
                        </h2>

                        <div class="the-excerpt">
                            <p>
                                The key to success is to keep your head above the water, never give up. You do know, you do know that they don't want you
                                to have lunch.
                            </p>
                        </div>

                        <div class="read-more">
                            <a href="single.html">Continue Reading</a>
                        </div>
                    </div>
                </article>
            </div>

            <div class="col-md-4">
                <article class="post">
                    <div class="post-media">
                        <a href="single.html">
                            <img src="images/posts/1.jpg" alt="Post">
                        </a>
                    </div>

                    <div class="post-body">
                        <h2 class="title">
                            <a href="single.html">Being A Star In Your Industry Is A Matter Of Travel</a>
                        </h2>

                        <div class="the-excerpt">
                            <p>
                                The key to success is to keep your head above the water, never give up. You do know, you do know that they don't want you
                                to have lunch.
                            </p>
                        </div>

                        <div class="read-more">
                            <a href="single.html">Continue Reading</a>
                        </div>
                    </div>
                </article>
            </div>

            <div class="col-md-4">
                <article class="post">
                    <div class="post-media">
                        <a href="single.html">
                            <img src="images/posts/1.jpg" alt="Post">
                        </a>
                    </div>

                    <div class="post-body">
                        <h2 class="title">
                            <a href="single.html">Being A Star In Your Industry Is A Matter Of Travel</a>
                        </h2>

                        <div class="the-excerpt">
                            <p>
                                The key to success is to keep your head above the water, never give up. You do know, you do know that they don't want you
                                to have lunch.
                            </p>
                        </div>

                        <div class="read-more">
                            <a href="single.html">Continue Reading</a>
                        </div>
                    </div>
                </article>
            </div>


            <div class="col-md-4">
                <article class="post">
                    <div class="post-media">
                        <a href="single.html">
                            <img src="images/posts/1.jpg" alt="Post">
                        </a>
                    </div>

                    <div class="post-body">
                        <h2 class="title">
                            <a href="single.html">Being A Star In Your Industry Is A Matter Of Travel</a>
                        </h2>

                        <div class="the-excerpt">
                            <p>
                                The key to success is to keep your head above the water, never give up. You do know, you do know that they don't want you
                                to have lunch.
                            </p>
                        </div>

                        <div class="read-more">
                            <a href="single.html">Continue Reading</a>
                        </div>
                    </div>
                </article>
            </div>
        </div>
    </div>
</div>