<div class="breadcrumb">
    <div class="container">
        <a href="#" ui-sref="home">Home</a>&nbsp;/&nbsp;Student Success
    </div>
</div>

<div class="container top-padding">
    <div class="row">

        <div class="col-md-7">
            <h2>Student Success</h2>
            <p class="big">
                The UCR Library is the second-largest student employer on the UC Riverside campus. We are also the place students turn to when it's time to study for finals and to collaborate with each other. We provide space, resources, tools and guidance that our students need to succeed, as well as tools for experimentation and knowledge creation.
            </p>
        </div>


        <div class="col-md-5">
            <img class="top-padding" src="images/promo-box/student-success.jpg" alt="Student success image" />
        </div>
    </div>

    <div class="row top-padding">
        <div class="col-md-12">
            <h4>INVEST IN STUDENT SUCCESS</h4>
            <p class="lead">
                These funds are devoted to student success at the UCR Library.</p>
            <hr>
        </div>
    </div>

    <div class="row">
        <card title="Creat'R Lab Fund"
            text="The UCR Library's Creat'R Lab is an innovative makerspace in which students and faculty experiment with tools and technologies to spark curiosity, deepen knowledge and transform research. It is an inclusive, cross-disciplinary state-of-the-art technology incubator for discovery, innovation, and entrepreneurship. This fund will help support the technologies and consumables used in the Lab, including 3D printers and scanners, electronics prototyping kits, fabrication/sewing technology, etc., as well as Lab staffing, including student employees."
            image="images/posts/creatr-lab.jpg" alt="Give to Creat'r Lab fund" link="https://myadv.ucr.edu/LIB/200851">
        </card>

        <card title="Library Student Success Fund"
            text="Current students and alumni have shared with us how the UCR Library has contributed to their success by providing a place that is welcoming, reliable, and to conducive to serious study, research, and collaboration. Your gift to this fund will assure needed support for student-centered resources in the library that contribute to their academic success at UCR and beyond."
            image="images/posts/student-library-success.jpg" alt="Give to Student Library Success fund"
            link="https://myadv.ucr.edu/LIB/200882"></card>

        <card title="Library Development Fund"
            text="This general fund can be allocated yearly to newly identified priorities in the growth and improvement of the UCR Library. Your gift enables us to be nimble in contributing to the growth and breadth of UCR Library resources."
            image="images/posts/library-development.jpg" alt="Give to Library Development Fund" link="https://myadv.ucr.edu/LIB/200362">
        </card>
    </div>
</div>