<div class="col-md-4 mb-4">
    <div class="card h-100">
        <img src="{{ image }}" alt="{{ alt }}">
        <div class="card-body">
            <h4 class="card-title">{{ title }}</h4>
            <p class="card-text" ng-bind-html="text"></p>
        </div>
        <div class="card-footer">
            <a href="{{ link }}" target="_blank" class="learn-more-button btn btn-block" ng-hide="{{ pending }}">Give
                now</a>
            <h5 ng-show="{{ pending }}" class="text-center" style="color: #222222">Coming soon</h3>
        </div>
    </div>
</div>